services:
  api-gateway:
    image: traefik:v3.0
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "8081:80"
      - "8082:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - auth-service
      - directory-service
      - tickets-service
    networks: [mesh]
    labels:
      - "traefik.enable=true"


  auth-db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth
    volumes:
      - auth-db-data:/var/lib/postgresql/data
      - ./auth-service/sql:/docker-entrypoint-initdb.d:ro
    networks: [mesh]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d auth"]
      interval: 5s
      timeout: 3s
      retries: 10

  auth-service:
    build: ./auth-service
    environment:
      PORT: "3001"
      DATABASE_URL: "postgres://postgres:postgres@auth-db:5432/auth"
      JWT_SECRET: "dev-secret-change-me"
    depends_on:
      auth-db:
        condition: service_healthy
    networks: [mesh]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth.rule=PathPrefix(`/auth`)"
      - "traefik.http.routers.auth.entrypoints=web"
      - "traefik.http.routers.auth.middlewares=auth-stripprefix"
      - "traefik.http.middlewares.auth-stripprefix.stripprefix.prefixes=/auth"
      - "traefik.http.services.auth.loadbalancer.server.port=3001"


  directory-db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: directory
    volumes:
      - directory-db-data:/var/lib/postgresql/data
      - ./directory-service/sql:/docker-entrypoint-initdb.d:ro
    networks: [mesh]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d directory"]
      interval: 5s
      timeout: 3s
      retries: 10

  directory-service:
    build: ./directory-service
    environment:
      PORT: "3002"
      DATABASE_URL: "postgres://postgres:postgres@directory-db:5432/directory"
    depends_on:
      directory-db:
        condition: service_healthy
    networks: [mesh]
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=arquitetura-de-microservicos_mesh"
      - "traefik.http.routers.directory.rule=PathPrefix(`/directory`)"
      - "traefik.http.routers.directory.entrypoints=web"
      - "traefik.http.routers.directory.middlewares=directory-stripprefix"
      - "traefik.http.middlewares.directory-stripprefix.stripprefix.prefixes=/directory"
      - "traefik.http.services.directory.loadbalancer.server.port=3002"

  tickets-db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tickets
    volumes:
      - tickets-db-data:/var/lib/postgresql/data
      - ./tickets-service/sql:/docker-entrypoint-initdb.d:ro
    networks: [mesh]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d tickets"]
      interval: 5s
      timeout: 3s
      retries: 10

  tickets-service:
    build: ./tickets-service
    environment:
      PORT: "3003"
      DATABASE_URL: "postgres://postgres:postgres@tickets-db:5432/tickets"
      JWT_SECRET: "dev-secret-change-me"
    depends_on:
      tickets-db:
        condition: service_healthy
    networks: [mesh]
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=arquitetura-de-microservicos_mesh"
      - "traefik.http.routers.tickets.rule=PathPrefix(`/tickets`)"
      - "traefik.http.routers.tickets.entrypoints=web"
      - "traefik.http.routers.tickets.middlewares=tickets-stripprefix"
      - "traefik.http.middlewares.tickets-stripprefix.stripprefix.prefixes=/tickets"
      - "traefik.http.services.tickets.loadbalancer.server.port=3003"

networks:
  mesh:
    driver: bridge

volumes:
  auth-db-data:
  directory-db-data:
  tickets-db-data:
